################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/SFMLSnake.exe
/.vs
/SfmlTest/x64/Debug
/x64/Debug
/SfmlSnake/x64/Debug
/x64/Debug/SFMLSnake.exe
/sfml-app
/sfml-app
/README.md
/SfmlSnake.sln
/SfmlTest.vcxproj
/SfmlTest.vcxproj.filters
/SfmlTest.vcxproj.user
